* {box-sizing: border-box}


.tityl {
    align-items: center;
}


body {
    color: #FFF;
    font: 16px/28px; /*Здесь будет потом шрифт*/
    background-color: black;
}


.container {
  padding: 16px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #1F1905;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #EE8313;
  outline: none;
}


hr {
  border: 1px solid #EE8313;
  margin-bottom: 25px;
}


.registerbtn {
  background-color: #EE8313;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}


.signin {
  background-color: #f1f1f1;
  text-align: center;
}